<h3>Add a comment:</h3>
<form method="post" action="/books/<%= @book.id %>/comments">
<textarea name="comment[content]" placeholder="Type here"></textarea>
<br/>
<br/>
<input type="submit" value="Add Comment">
</form>
