<h4>Add a comment:</h4>
<form method="post" action="/<%= commentable_type%>/<%= commentable.id %>/comments">
<textarea name="comment[content]" placeholder="Type here"></textarea>
<br/>
<br/>
<input type="submit" value="Add Comment">
</form>
