<h4>Add a comment:</h4>
<form method="post" action="/comments">
<input type="hidden" name="comment[commentable_type]" value="<%=esc commentable.class.name%>">
<input type="hidden" name="comment[commentable_id]" value="<%=esc commentable.id%>">
<input type="hidden" name="comment[comment_path]" value="<%=esc commentable_type%>">
<textarea name="comment[content]" placeholder="Type here"></textarea>
<br/>
<br/>
<input type="submit" value="Add Comment">
</form>

