<form method="post" action="/'<%= @commentable_type%>'/<%= @commentable.id%>/comments/<%= @comment.id%>">
    <input type="hidden" id="hidden" name="_method" value="patch">
    <textarea name="comment[content]" id="post-content" cols="30" rows="10"><%=@comment.content%></textarea>
    <input type="submit" value="Edit comment">
</form>