<h2>Create An Account</h2>
<form method="post" action="/signup">
<label for="user[name]">Please Enter Your Name: </label>
<input type="text" name="user[name]" id="user[name]" value="<%=esc @user.name%>">
<br/>
<label for="user[username]">Please Choose a Username: </label>
<input type="text" name="user[username]" id="user[username]">
<br/>
<label for="user[password]">Please Choose a Password: </label>
<input type="password" name="user[password]" id="user[password]">
<br/>
<% if @failed %>
  <div class="warning"><ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%=esc msg %></li>
    <% end %>
    </ul>
</div>
<% end %>
<input type="submit" value="Create Account">


</form>

<h5>already have an account?</h5>
<h4><a href="/login">Member Log In</a></h4>