<h3>Rate: </h3>
<form method="post" action="/'<%= @ratable_type%>'/<%= ratable.id %>/ratings">
1<input type="radio" value="1">
2<input type="radio" value="2">
3<input type="radio" value="3">
4<input type="radio" value="4">
5<input type="radio" value="5">
<br/>
<br/>
   <input type="submit" value="Submit">
</form>
