  <h2>Books in Library:</h2> 

  <a href="/books/new">[Add Book]</a>
  <br/>
  <br/>
  <br/>
  <% @books.sort_by{|book| book[:title]}.each do |book| %>
  
  <div class="book">
    <h4><a href="/books/<%= book.id %>"><%=esc book.title %></a></h4>
  </div>

  <% end %>

