<br/>
<h3>Add a book to our Shelf:</h3>
<form method="post" action="/books">
<label for="book[title]">Title: </label>
<br/>
<input type="text" name="book[title]" id="book[title]">
<br/>
<br/>
<label for="book[author]">Author Name: </label>
<br/>
<input type="text" name="book[author]" id="book[author]">
<br/>
<br/>
<label for="book[year]">Year: </label>
<br/>
<input type="number" name="book[year]" id="book[year]">
<br/>
<br/>
<% if @duplicate %>
  <p class="warning">This book is already in the library. Please select from list.</p>
<% end %>

<input type="submit" value="Add Book">

</form>


