  <h2>Articles in Library:</h2>
  <a href="/articles/new">[Add Article]</a>
  <br/>
  <br/>
  <br/>
  <% @articles.sort_by{|article| article[:title]}.each do |article| %>

  <div class="article">
    <h4><a href="/articles/<%= article.id %>"><%=esc article.title %></a></h4>
  </div>

  <% end %>

