<br/>
<h3>Add an article to our Shelf:</h3>
<form method="post" action="/articles">
<label for="article[title]">Title: </label>
<br/>
<input type="text" name="article[title]" id="article[title]">
<br/>
<br/>
<label for="article[author]">Author: </label>
<br/>
<input type="text" name="article[author]" id="article[author]">
<br/>
<br/>
<label for="article[year]">Year: </label>
<br/>
<input type="number" name="article[year]" id="article[year]">
<br/>
<br/>
<label for="article[source]">Link to article: </label>
<br/>
<input type="url" name="article[source]" id="article[source]">
<br/>
<br/>
<% if @duplicate %>
  <p class="warning">This article is already in the library. Please choose from list.</p>
<% end %>

<input type="submit" value="Add Article">


</form>