
<h2>Welcome, <%= @user.name %>!</h2>
<br/>
<h3>Share yourShelf:</a></h3>

<br/>
<h3><a href="/books">Books</a> | <a href="/books/new">Add</a></h3>
<h3><a href="/articles">Articles</a> | <a href="/articles/new">Add</a></h3>
<h3><a href="/podcasts">Podcasts</a> | <a href="/podcasts/new">Add</a></h3>

