  <h2>Authors:</h2>
  <br/>
  <br/>
  <br/>
  <% @authors.sort_by{|author| author[:name]}.each do |author| %>
  <div class="author">
    <h4><a href="/authors/<%=esc author.id%>"><%=esc author.name %></a></h4>
  </div>
  <% end %>