<br/>

  <h2>Podcasts in Library:</h2>
  <a href="/podcasts/new">[Add Podcast]</a>
  <br/>
  <br/>
  <br/>
  <% @podcasts.sort_by{|podcast| podcast[:name]}.each do |podcast| %>



  <% end %>

