<h3>Add a podcast to our Shelf:</h3>
<form method="post" action="/podcasts/new">
<label for="podcast[name]">Podcast Name: </label>
<br/>
<input type="text" name="podcast[name]" id="podcast[name]">
<br/>
<br/>
<label for="podcast[episode_title]">Episode Title: </label>
<br/>
<input type="text" name="podcast[episode_title]" id="podcast[episode_title]">
<br/>
<br/>
<label for="podcast[authors]">Hosted By: </label>
<br/>
<input type="text" name="podcast[authors]" id="podcast[authors]">
<br/>
<br/>
<label for="podcast[year]">Year: </label>
<br/>
<input type="number" name="podcast[year]" id="podcast[year]">
<br/>
<br/>
<label for="podcast[source]">Link to Podcast: </label>
<br/>
<input type="string" name="podcast[source]" id="podcast[source]">
<br/>
<br/>
// <% if @duplicate %>
//   <p class="warning">This podcast is already in the library. Please choose from list.</p>
// <% end %>

<input type="submit" value="Add podcast">


</form>