<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SHELF DEVELOPMENT</title>
  
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<h1>Shelf Development</h1>
<h4>Knowledge - Power - Growth</h4>
<br/>
<% if logged_in? %>
  <h5><a href="/home">Home</a> <a href="/logout">Logout</a></h5>
  <% end %> 
  <%= yield%>
</body>
</html>